* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #282828;
  margin-right: auto;
  max-width: 64em;
  margin-left: auto;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
}

.onas {
  max-width: 64em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 300px;
}
a {
  text-decoration: none;
  color: #282828;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 10vh;
  font-size: 0.8rem;
  padding: 3.5rem;
}

.menu {
  display: flex;
  flex-basis: 300px;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.odkazy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 15px;
}
.michaela,
.kristyna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.michaela-content,
.kristyna-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.img-holder {
  width: auto;
  display: inline-block;
}

.michaela img,
.kristyna img {
  width: 200px;
  height: auto;
  border-radius: 50% 50% 50% 50%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.michaela p,
.kristyna p {
  width: 60%;
  margin-left: 0px;
  text-align: justify;
}

.linkedin {
  display: block;
  width: 70px;
  height: 70px;
  background: url(../../img/linkedin.svg);
}
.github {
  display: block;
  width: 70px;
  height: 70px;
  background: url(../../img/github.svg);
}
