* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #282828;
  line-height: 1.5em;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}

.page-content {
  max-width: 64em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 300px;
}
a {
  text-decoration: none;
  color: #282828;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 10vh;
  font-size: 0.8rem;
  padding: 3.5rem;
}

.menu {
  display: flex;
  flex-basis: 300px;
  justify-content: space-between;
  align-items: center;
  color: black;
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

/*FAQs*/
.faq-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: -webkit-box;
  display: flex;
}
.row .col {
  -webkit-box-flex: 1;
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* FAQs - Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1em;
  background: #fa7269;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #bed2fa;
}
.tab-label::after {
  content: '\276F';
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #282828;
  background: white;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #fa7269;
  cursor: pointer;
}
.tab-close:hover {
  background: #fa7269;
}

input:checked + .tab-label {
  background: #fa7269;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* O nás */
.onas {
  max-width: 64em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.odkazy {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  margin-left: 40px;
}
.michaela,
.kristyna {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.michaela-content,
.kristyna-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.img-holder {
  width: auto;
  display: inline-block;
}

.michaela img,
.kristyna img {
  width: 200px;
  height: auto;
  border-radius: 50% 50% 50% 50%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.michaela p,
.kristyna p {
  width: 60%;
  margin-left: 0px;
  text-align: justify;
}

.linkedin {
  display: block;
  width: 70px;
  height: 70px;
  background: url(../../img/linkedin.svg);
}
.github {
  display: block;
  width: 70px;
  height: 70px;
  background: url(../../img/github.svg);
}

/* New O nas */

.color-card {
  background: #31394d;
}

.color-card-2 {
  background: #fdfeff;
}
.title {
  color: #ffffff;

  font-weight: 300;
}
.title-2 {
  color: #2d354a;
  font-weight: 300;
}

.job-title {
  color: #7c8097;
  font-size: 12px;
  font-weight: 100;
}

.desc {
  font-size: 12px;
  margin-left: 65px;
  margin-right: 65px;
  color: #b7b8c0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.i-l {
  float: left;
  margin-left: 16px;
  margin-top: 16px;
}
.i-r {
  float: right;
  margin-right: 16px;
  margin-top: 16px;
}
.w {
  color: #ffffff;
}
.b {
  color: #2f3b4b;
}
hr {
  border-color: #7c8097;
  width: 90%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.hr-2 {
  border-color: #e4e8ed;
}

/* .content {
  display: flex;
  justify-content: center;
} */

.top {
  margin-top: 16px;
}
.color-a {
  background: linear-gradient(to top right, #ea8888, #fa7269);
}

.color-b {
  background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}

.color-c {
  background: linear-gradient(to bottom right, #5e5aec, #3f9efc);
}
.color-d {
  background: linear-gradient(to bottom right, #6452e9, #639ff9);
}

.btn {
  border: none;
  height: 50px;
  width: 160px;
  color: #ffffff;
  /* width: 35%; */
  font-size: 14px;
  border-radius: 60px;
  box-sizing: border-box;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);

  /* height: 50px;
  width: 160px;
  margin: 0 40px 0 0;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  padding: 10px 20px; */
}
.btn:hover {
  border: solid 1px #fa7269;
  height: 40px;
  color: #fa7269;
  background: #ffffff;
  width: 35%;
  border-color: #fa7269;
  border-radius: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.circule {
  border-radius: 50%;
  border: none;
  height: 80px;
  width: 80px;
  color: #ffffff;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.up {
  margin-top: 40px;
}

.img {
  width: 280px;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.container:after,
.container:before {
  content: ' ';
  display: table;
}

.container:after {
  clear: both;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-07,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-1-3 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-1 {
  width: 40px;
}
.grid-2 {
  width: 100px;
}
.grid-3 {
  width: 160px;
}
.grid-4 {
  width: 220px;
}
.grid-5 {
  width: 280px;
}
.grid-6 {
  width: 340px;
}
.grid-07 {
  width: 375px;
}
.grid-7 {
  width: 400px;
}
.grid-8 {
  width: 460px;
}
.grid-9 {
  width: 520px;
}
.grid-10 {
  width: 580px;
}
.grid-11 {
  width: 640px;
}
.grid-12 {
  width: 700px;
}
.grid-13 {
  width: 760px;
}
.grid-14 {
  width: 820px;
}
.grid-15 {
  width: 880px;
}
.grid-16 {
  width: 940px;
}
.grid-1-3 {
  width: 300px;
}

/*cards*/
body {
  display: flex;
  text-align: center;
}

.card {
  border-radius: 6px;
  display: inline-block;
  height: 900px;
  margin: 1rem;
  position: relative;
  width: 400px;
  box-shadow: 0 12px 13px rgba(0, 0, 0, 0.16), 0 12px 13px rgba(0, 0, 0, 0.16);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.15);
}

.card-6 {
  -webkit-box-shadow: 10px 10px 44px 15px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 44px 15px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 44px 15px rgba(0, 0, 0, 0.14);
}

.card-elevation {
  /*sombra*/
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
}

/* .header{
   background: linear-gradient(to bottom right, #F762D2, #FF51A0);
   height:250px;
 } */

.profile {
  border-radius: 100%;
  margin-top: 60px;
  width: 132px;
  height: 128px;
  object-fit: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .element-animation{
   animation: animationFrames ease 2s;
   animation-iteration-count: 2;
   transform-origin: 50% 50%;
   animation-fill-mode:forwards; /*when the spec is finished*/
/* -webkit-animation: animationFrames ease 1.5s;
   -webkit-animation-iteration-count: 1;
   -webkit-transform-origin: 50% 50%;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
/* } */

/*  
 @keyframes animationFrames{
   0% {
     opacity:0;
     transform:  translate(-1500px,0px)  ;
   }
   60% {
     opacity:1;
     transform:  translate(30px,0px)  ;
   }
   80% {
     transform:  translate(-10px,0px)  ;
   }
   100% {
     opacity:1;
     transform:  translate(0px,0px)  ;
   }
 }
 
 @-webkit-keyframes animationFrames {
   0% {
     opacity:0;
     -webkit-transform:  translate(-1500px,0px)  ;
   }
   60% {
     opacity:1;
     -webkit-transform:  translate(30px,0px)  ;
   }
   80% {
     -webkit-transform:  translate(-10px,0px)  ;
   }
   100% {
     opacity:1;
     -webkit-transform:  translate(0px,0px)  ;
   } */

/* Responzivita */

#menuToggle {
  display: none;
}

@supports (
  (max-width: -webkit-max-content) or (max-width: -moz-max-content) or
    (max-width: max-content)
) {
  .layout__item--figure {
    min-width: 15rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    flex-basis: 15rem;
    -webkit-box-flex: 10000;
    flex-grow: 10000;
  }
}

@media only screen and (max-width: 768px) {
  .heading-h1 {
    margin-left: 60px;
  }
  .header {
    margin-bottom: 0px;
  }
  .menu {
    margin-right: 80px;
  }
  .p__first-paragraph {
    margin-left: 60px;
  }
  .buttons__first-paragraph {
    margin-left: 60px;
  }

  .imgMain__house {
    transform: scale(2.3) translate(60px);
  }

  .layout__item {
    padding-top: 1em;
    padding-left: 1em;
  }

  .layout__item--body {
    padding-bottom: 3em;
  }

  .heading-help,
  .heading-project {
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
  }

  .p__second-paragraph {
    margin-left: 80px;
  }
  .imgMain__heart {
    transform: scale(2.3) translate(-30px);
  }

  .p__third-paragraph {
    margin-left: 80px;
  }

  .imgMain__planet {
    transform: scale(2.3) translate(55px);
  }

  .full-bleed {
    margin-top: 0;
  }

  .footer {
    width: 100%;
  }

  .layout:not(:first-of-type) {
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  /* General setting */
  .heading-h1 {
    margin-left: 80px;
  }

  .p__first-paragraph {
    margin-left: 80px;
  }

  .buttons__first-paragraph {
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
  }

  .button__cta {
    margin-bottom: 1rem;
  }

  .button__cta2 {
    margin: 0;
  }
  .heading-h1 {
    flex-direction: column;
  }
  .layout:nth-child(2n) {
    flex-direction: column;
  }

  .layout {
    flex-direction: column;
    margin-right: 1.5rem;
  }

  .menu {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  .oprojektu,
  .onas,
  .faqs {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  a:hover {
    color: tomato;
  }
  /* Hamburger menu*/
  .menu {
    display: none;
  }
  #menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
    opacity: 1;
  }

  .content {
    justify-content: center;
  }

  .oprojektu,
  .onas,
  .faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    #menu {
      transform: none;
      opacity: 0;

      transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  }
}
