* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #282828;
  line-height: 1.5em;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}

.content {
  max-width: 64em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #282828;

  transition: color 0.3s ease;
}

a:hover {
  color: #282828;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 10vh;
  font-size: 0.8rem;
  padding: 3.5rem;
}

.menu {
  display: flex;
  flex-basis: 300px;
  justify-content: space-evenly;
  align-items: center;
  color: #282828;
}

/* menu hover effect */

.menu__item {
  color: #282828;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.menu__item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #282828;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu__item:hover:after {
  width: 100%;
  left: 0;
}

/* menu end */

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
  font-weight: 700;
}

/*FAQs*/
.faq-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: -webkit-box;
  display: flex;
}
.row .col {
  -webkit-box-flex: 1;
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* FAQs - Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
}

.tab {
  width: 100%;
  color: #282828;
  overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1em;
  background: #fa7269;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  color: white;
  font-weight: 200;
  /* Icon */
}
.tab-label:hover {
  background: #bed2fa;
}
.tab-label::after {
  content: '\276F';
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #282828;
  background: white;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #fa7269;
  cursor: pointer;
}
.tab-close:hover {
  background: #fa7269;
}

input:checked + .tab-label {
  background: #fa7269;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* O nás */
.onas {
  max-width: 64em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.h1-onas {
  font-weight: 700;
  margin-bottom: 40px;
}

/* O nás new */

.profile {
  margin-top: -55px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  z-index: 0;
  border: 2px solid lightgray;
}

.socialmedia {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.photo {
  margin: 25px;
}

.image--cover {
  width: 170px;
  height: 170px;
  border: lightgray 3px solid;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: -40px;
}

.username,
.profession,
.about {
  text-align: center;
  padding: 0;
  margin: 1px;
}

.username {
  font-size: 20pt;
  margin: 2px;
}

.profession {
  font-size: 14pt;
}

.about {
  border-top: lightgray solid 1px;
  padding: 10px;
  font-size: 11pt;
  margin: 5px;
}

.linkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: url(../../img/linkedin.svg);
}
.github {
  display: flex;
  width: 70px;
  height: 70px;
  background: url(../../img/github.svg);
  margin-right: 10px;
}

#menuToggle {
  display: none;
}

@supports (
  (max-width: -webkit-max-content) or (max-width: -moz-max-content) or
    (max-width: max-content)
) {
  .layout__item--figure {
    min-width: 15rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    flex-basis: 15rem;
    -webkit-box-flex: 10000;
    flex-grow: 10000;
  }
}

@media only screen and (max-width: 768px) {
  .heading-h1 {
    margin-left: 60px;
  }
  .header {
    margin-bottom: 0px;
  }
  .menu {
    margin-right: 80px;
  }
  .p__first-paragraph {
    margin-left: 60px;
  }
  .buttons__first-paragraph {
    margin-left: 60px;
  }

  .imgMain__house {
    transform: scale(2.3) translate(60px);
  }

  .layout__item {
    padding-top: 1em;
    padding-left: 1em;
  }

  .layout__item--body {
    padding-bottom: 3em;
  }

  .heading-help,
  .heading-project {
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
  }

  .p__second-paragraph {
    margin-left: 80px;
  }
  .imgMain__heart {
    transform: scale(2.3) translate(-30px);
  }

  .p__third-paragraph {
    margin-left: 80px;
  }

  .imgMain__planet {
    transform: scale(2.3) translate(55px);
  }

  .full-bleed {
    margin-top: 0;
  }

  .footer {
    width: 100%;
  }

  .layout:not(:first-of-type) {
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  /* General setting */
  .heading-h1 {
    margin-left: 80px;
  }

  .p__first-paragraph {
    margin-left: 80px;
  }

  .buttons__first-paragraph {
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
  }

  .button__cta {
    margin-bottom: 1rem;
  }

  .button__cta2 {
    margin: 0;
  }
  .heading-h1 {
    flex-direction: column;
  }
  .layout:nth-child(2n) {
    flex-direction: column;
  }

  .layout {
    flex-direction: column;
    margin-right: 1.5rem;
  }

  .menu {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  .oprojektu,
  .onas,
  .faqs {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  /* Hamburger menu*/
  .menu {
    display: none;
  }
  #menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
    opacity: 1;
  }

  .content {
    justify-content: center;
  }

  .oprojektu,
  .onas,
  .faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    #menu {
      transform: none;
      opacity: 0;

      transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  }
}

.podpis {
  text-align: right;
  font-weight: bold;
}
