* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #282828;
  line-height: 1.5em;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}
.content {
  max-width: 64em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
  color: #282828;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 10vh;
  font-size: 0.8rem;
  padding: 3.5rem;
}

.menu {
  display: flex;
  flex-basis: 300px;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.button-main {
  display: inline-block;
  height: 50px;
  width: 160px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #fa7269;
  cursor: pointer;
  outline: none;
}
.button__cta {
  padding: 10px 35px;
  display: inline-block;
  height: 50px;
  width: 160px;
  margin: 0 40px 0 16px;
}

.button__cta2 {
  padding: 10px 20px;
  display: inline-block;
  height: 50px;
  width: 160px;
  margin: 0 40px 0 16px;
  background-color: #99ca6a;
}

.buttons__first-paragraph {
  display: inline-block;
}
.map {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.map__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.heading-h1 {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: normal;
}

.heading-help,
.heading-project {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: normal;
}

.heading-form {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

.layout {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: -1em;
  margin-left: -3.5em;
  -webkit-box-align: center;
  align-items: center;
}
.layout:not(:first-of-type) {
  margin-top: 3em;
}
.layout:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.layout__item {
  padding-top: 2em;
  padding-left: 3.5em;
}
.layout__item--body {
  -webkit-box-flex: 10000;
  flex-grow: 10000;
  flex-basis: 15rem;
}
.layout__item--figure {
  margin-right: auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
@supports (
  (max-width: -webkit-max-content) or (max-width: -moz-max-content) or
    (max-width: max-content)
) {
  .layout__item--figure {
    min-width: 15rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    flex-basis: 15rem;
    -webkit-box-flex: 10000;
    flex-grow: 10000;
  }
}

/* .full-bleed__wave {
  background: url(img/waview.svg);
  width: max-content;
} */

.full-bleed {
  background: linear-gradient(to right, #dde8fd, #a3daf6, #77a4e5);
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 100vw;
  padding: 3.5rem;
  margin-top: 10rem;
}

.map {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
.map__item {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 150px;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
}

.imgMain {
  max-width: 100%;
  max-height: 100%;
  width: 600px;
  height: auto;
  vertical-align: middle;
  bottom: 2.5rem;
  top: 1 rem;
}

.imgMain__house {
  transform: scale(2.1) translate(95px);
  transform-origin: right;
  position: relative;
  z-index: -1;
}

.imgMain__heart {
  transform: scale(2.1) translate(25px);
  transform-origin: left;
  position: relative;
  z-index: -1;
}

.imgMain__planet {
  transform: scale(2.1) translate(45px);
  transform-origin: right;
  position: relative;
  z-index: -1;
}
.layout__item * + * {
  margin-top: 1em;
}

.logo {
  width: 300px;
}

.odkazy p {
  margin: 5px;
}
