* {
  box-sizing: border-box;
}

/* homepage general */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #282828;
  line-height: 1.5em;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}
.content {
  max-width: 64em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* homepage general end */

/* menu */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 300px;
}
a {
  text-decoration: none;
  color: #282828;
}

.menu {
  display: flex;
  flex-basis: 300px;
  justify-content: space-between;
  align-items: center;
  color: black;
}

/* menu end */

/* buttons */
.button-main {
  height: 50px;
  width: 160px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #fa7269;
  cursor: pointer;
  outline: none;
}

.button-help {
  height: 50px;
  width: 160px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #fa7269;
  cursor: pointer;
  outline: none;
}
.button__cta {
  padding: 10px 20px;
  margin-left: 0px;
}

.button__cta2 {
  padding: 10px 20px;
  background-color: #99ca6a;
}

.buttons__first-paragraph {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.buttons__help {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
/* buttons end */

/* headings */
.heading-h1 {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: normal;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
}

.heading-help,
.heading-project {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: normal;
}

.heading-form {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

/* headings end */

/* layout images-text */

.layout {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: -1em;
  margin-left: -3.5em;
  -webkit-box-align: center;
  align-items: center;
}

.imgMain {
  max-width: 100%;
  max-height: 100%;
  width: 600px;
  height: auto;
  vertical-align: middle;
  bottom: 2.5rem;
  top: 1 rem;
}

.imgMain__house {
  transform: scale(2.1) translate(95px);
  transform-origin: right;
  position: relative;
  z-index: -1;
}

.imgMain__heart {
  transform: scale(2.1) translate(25px);
  transform-origin: left;
  position: relative;
  z-index: -1;
}

.imgMain__planet {
  transform: scale(2.1) translate(45px);
  transform-origin: right;
  position: relative;
  z-index: -1;
}

.layout:not(:first-of-type) {
  margin-top: 3em;
}
.layout:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.layout__item {
  padding-top: 2em;
  padding-left: 3.5em;
}
.layout__item--body {
  -webkit-box-flex: 10000;
  flex-grow: 10000;
  flex-basis: 15rem;
}
.layout__item--figure {
  margin-right: auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
@supports (
  (max-width: -webkit-max-content) or (max-width: -moz-max-content) or
    (max-width: max-content)
) {
  .layout__item--figure {
    min-width: 15rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    flex-basis: 15rem;
    -webkit-box-flex: 10000;
    flex-grow: 10000;
  }
}

/* layout images-text end */

/* full bleed */
.full-bleed {
  background: linear-gradient(to right, #dde8fd, #a3daf6, #77a4e5);
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 100vw;
  padding: 3.5rem;
  margin-top: 10rem;
}
/* full bleed end */

/* footer */
.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 10vh;
  font-size: 0.8rem;
  padding: 3.5rem;
}
/* footer end */

@media only screen and (max-width: 768px) {
  .heading-h1 {
    margin-left: 60px;
  }
  .header {
    margin-bottom: 0px;
  }
  .menu {
    margin-right: 80px;
  }
  .p__first-paragraph {
    margin-left: 60px;
  }
  .buttons__first-paragraph,
  .buttons__help {
    margin: 0 4rem;
    padding: 0;
  }

  .imgMain__house {
    transform: scale(2.3) translate(60px);
  }

  .layout__item {
    width: 90%;
    padding-top: 1em;
    padding-left: 1em;
  }

  .layout__item--body {
    padding-bottom: 3em;
  }

  .heading-help,
  .heading-project {
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
  }

  .p__second-paragraph {
    margin-left: 80px;
  }
  .imgMain__heart {
    transform: scale(2.3) translate(-30px);
  }

  .p__third-paragraph {
    margin-left: 80px;
  }

  .imgMain__planet {
    transform: scale(2.3) translate(55px);
  }

  .full-bleed {
    margin-top: 0;
  }

  .footer {
    width: 100%;
  }

  .layout:not(:first-of-type) {
    margin-top: 0;
  }
}

#menuToggle {
  display: none;
}

@media only screen and (max-width: 600px) {
  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .heading-h1 {
    margin-left: 80px;
  }

  .p__first-paragraph {
    margin-left: 80px;
  }

  .buttons__first-paragraph,
  .buttons__help {
    flex-direction: column;
    justify-content: center;
    margin: 0 5rem 5rem 5rem;
  }

  .button__cta {
    margin-bottom: 1rem;
  }

  .button__cta2 {
    margin: 0;
  }
  .heading-h1 {
    flex-direction: column;
  }
  .layout:nth-child(2n) {
    flex-direction: column;
  }

  .layout {
    flex-direction: column;
    margin-right: 1.5rem;
  }

  .menu {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  a:hover {
    color: tomato;
  }

  /* Hamburger menu */

  #menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
    opacity: 1;
  }

  @media screen and (max-width: 768px) {
    #menu {
      transform: none;
      opacity: 0;

      transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  }

  .full-bleed {
    margin-top: 5rem;
  }

  .footer {
    width: 100%;
    flex-direction: column;
  }
}
