.mapbox-popup-content {
  position: absolute;
}
.popup-container {
  position: relative;
  top: 2.5px;
  border: 1px #fa7269 solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 250px;
  height: 250px;
}

.popup-title h3 {
  font-size: 20px;
  width: 100%;
  margin: 15px auto;
}

.popup-description {
  font-size: 15px;
  line-height: 1rem;
  text-align: justify;
  width: 100%;
}
.popup-divider {
  border: 1px springgreen solid;
  width: 200px;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-mailto {
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  line-height: 1rem;
  margin-bottom: 10px;
}
.popup-mailto a {
  display: block;
}
.popup-mailto a:hover {
  color: #3498db;
}
