.mapbox-popup-content {
  position: absolute;
}
.popup-container {
  position: relative;
  top: 2.5px;
  border: 1px #dde8fd solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 250px;
  height: 300px;
}

.popup-title h3 {
  font-size: 20px;
  width: 100%;
  margin: 15px auto;
  font-weight: 200;
}
.popup-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.popup-description {
  font-size: 14px;
  line-height: 1rem;
  text-align: center;
  width: 100%;
}
.popup-divider {
  border: 1px #fa7269 solid;
  width: 200px;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-mailto {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-mailto p {
  font-size: 8px;
  line-height: 1rem;
  padding: 5px;
}

.popup-button {
  height: 50px;
  width: 160px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  background-color: #fa7269;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.popup-button:hover {
  background-color: #fa7269;
  color: #282828;
}
